.img{
    max-width: fit-content;
    max-height: fit-content;
    display:block;
}
*{  background-color: beige;
}

#vasak{
    max-width: 100%;
    height: auto;
    float: left;
    
    border-collapse: collapse;
    opacity:80%;
    display: inline-block;
    margin-top: 33%;
    margin-bottom: 33%;
}
#vasak:hover{
    opacity:100%;

}
#keskmine{
    max-width: 100%;
    height: auto;
    float: center;
    border-collapse: collapse;
    opacity:80%;
    display: inline-block;
    margin-top: 33%;
    margin-bottom: 33%;
}
#keskmine:hover{
    opacity:100%
}

#parem{
    max-width: 100%;
    height: auto;
    float:right;
    border-collapse: collapse;
    opacity:80%;
    display: inline-block;
    margin-top: 33%;
    margin-bottom: 33%;
}
#parem:hover{
    opacity:100%;
}
.row{
    display:flex;
}
.column{
    padding:5px;
    width:33%;
}
.slider{
    position: absolute;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slider {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
