.img{
    max-width: fit-content;
    max-height: fit-content;
    display:block;
}
*{  background-color: beige;
}

#vasak{
    max-width: 100%;
    height: auto;
    float: left;
    
    border-collapse: collapse;
    opacity:80%;
}
#vasak:hover{
    opacity:100%;

}
#keskmine{
    max-width: 100%;
    height: auto;
    float: center;
    border-collapse: collapse;
    opacity:80%;
}
#keskmine:hover{
    opacity:100%
}

#parem{
    max-width: 100%;
    height: auto;
    
    border-collapse: collapse;
    opacity:80%;
}
#parem:hover{
    opacity:100%;
}
.row{
    display:flex;
}
.column{
    padding:5px;
    width:33%;
}